.orange{
    background-color: #FF8A33;
}

.blue{
    background-color: #33A8FF;
}

.gold{
    background-color: #CDD00F;
}

.green{
    background-color: #36FF33;
}

.pink{
    background-color: #FF00E0 ;
}