
{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
}


#boven{

    background-color:blue;
}

#linksboven{
    width: 35%;
    height: 50%;
    display: inline-block;
    background-color:blue;
}

#rechtsboven{
    width: ;
    height: 50%;
    display: inline-block;
    background-color: blue;
}

#onder{
    width: 100%;
    height: 50%;
    background-color: red;
}
